<a href="https://colab.research.google.com/github/HannahGraceNerio/CPE-103-OOP-1-A/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [4]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

LOOPING THROUGH A STRING

In [7]:
for x in "week":
  print (x)

w
e
e
k

RANGE FUNCTION

In [54]:
for x in range (6):
  print (x)

0
1
2
3
4
5

In [9]:
for x in range (2,6):
  print (x)

2
3
4
5

NESTED LOOPS

In [10]:
adjective = ["red", "big","tasty" ]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print (x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

PYHTON WHILE LOOP

In [12]:
i = 1
while i < 6:
  print (i)
  i += 1 #i = i+1

1
2
3
4
5

BREAK STATEMENT

In [78]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i +=1 #1 - 1+1

1
2
3

THE CONTINUE STATEMENT

In [56]:
i = 0
while i<6:
  i+=1
  if i == 3:
   continue
  if i == 6:
    break
  print (i)

1
2
4
5

THE ELSE STATEMENT

In [28]:
i = 1
while i< 6:
  print (i)
  i += 1
else:
    print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

APPLICATION 1

In [52]:
i = -1
while i< 10:
  i+=1
  print ("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

PRACTICAL TEST

In [73]:
i = 3
while i < 10:
  print (i)
  i+=1

3
4
5
6
7
8
9