<a href="https://colab.research.google.com/github/HannahGraceNerio/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BOLLEAN OPERATORS

In [1]:
print (10>9)
print (10==9)
print (10<9)

True
False
False

BOOL() FUNCTION

In [11]:
print (bool("Hello"))
print(bool(15))
print(bool(-3))

True
True
True

FUNCTIONS CAN RETURN A BOOLEAN

In [5]:
def myFunction() :
  return True

print(myFunction())

True

In [15]:
def myFunction() :
  return True #False will print no

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [16]:
print (10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

PYTHON OPERATORS

In [18]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)

print(10/5)
print(10//5)
print(10%5)

15
5
50
2.0
2.0
2
0

PYTHON BITWISE OPERATORS

In [25]:
a=60
b=13
print (a&b)
print (a|b)
print (a^b)
print (~a)

12
61
49
-61

PYTHON ASSIGNMENT

In [32]:
x=12
x+=3
print (x)

x-=3
print (x)

x*=3
print (x)

x/=3
print (x)

x%=3
print(x)

15
12
36
12.0
0.0

LOGICAL OPERATORS

In [37]:
not (10>9 and 9>10)

True

IDENTITY OPERATORS

In [39]:
x=10
y=5

print (x is not y)
print (y is x)

True
False

CONDITIONAL STATEMENT

IF STATEMENT

In [42]:
a=12
b=100
if b>a:
 print ("b is greater than a")

b is greater than a

ELIF STATEMENT

In [43]:
a=12
b=12
if b>a:
 print ("b is greater than a")
elif a==b:
 print ("a and b are equal")

a and b are equal

ELSE STATEMENT

In [44]:
a=200
b=33
if b>a:
 print ("b is greater than a")
elif a==b:
 print ("a and b are equal")
else:
 print ("a is greater than b")

a is greater than b

SHORT HAND IF STATEMENT

In [47]:
a=2
b=330
print ("A") if a>b else print ("B")

B

AND-BOTH CONDITIONS ARE TRUE

In [54]:
a=200
b=33
c=500
if a>b and c>a:
 print ("both conditions are true")

both conditions are true

OR-AT LEAST ONE OF THE CONDITIONS IS TRUE

In [50]:
a=200
b=33
c=500
if a>b or a>c:
  print("At least one of the conditions is true")

At least one of the conditions is true

NESTED IF

In [56]:
a=41
if a>10:
  print("Above ten,")
  if a>20:
    print("and above 20!")
  if a>30:
    print("and above 30")
  if a>40:
    print("and above 40")
  if a>50:
    print("and also above 50")
  else:
    print("but not above 50.")

Above ten,
and above 20!
and above 30
and above 40
but not above 50.

NESTED IF ELSE

In [62]:
x=29

if x>10:
  print ("Above ten,")
else:
  print("Not Above ten")
if x>20:
  print ("and also above 20!")
else:
  print("Not Above 20")
if x>30:
  print ("and also above 30!")
else:
  print("Not Above 30")
if x>40:
  print ("and also above 40!")
else:
  print("Not Above 40")
if x>50:
  print ("and also above 50!")
else:
  print ("but not above 50.")

Above ten,
and also above 20!
Not Above 30
Not Above 40
but not above 50.

APPLICATION 1

In [71]:
#write a python program that determines if the input age is qualified to vote or not. the qualifying is 18 years old and above
age=int(input("Enter your age " ))
if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

Enter your age 20
You are qualified to vote

APPLICATION 2

In [72]:
#write a program that determines if the input number is POSITIVE, NEGATIVE, OR ZERO
number=int(input("Enter a number "))
if number>=0:
 print("You entered a positive number")
elif number<0:
 print("You entered a negative number")
else:
 print("You entered zero")

Enter a number 55
You entered a positive number

APPLICATION 3

In [81]:
#write a program if the grades are passed remedial failed

grade=float(input("Enter grade "))
if grade>=75:
  print("Passed")
elif grade>=74:
  print("Remedial")
else:
  print ("Failed")

Enter grade 72.95
Failed