<a href="https://colab.research.google.com/github/HannahGraceNerio/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON INDENTATION

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

PYTHON COMMENTS

In [6]:
#This is a comment
print ("Hello, Guys")

Hello, Guys

PYTHON VARIABLE

In [13]:
X = 1
a, b = 0, -1
a, b, c=0, -1, 2
c="sally"
print (c)

sally

CASTING

In [14]:
b = "sally" #This is a type of string
b = int (4)
print (b)

b = float (4)
print(b)

4
4.0

TYPE () FUNCTION

In [16]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

"DOUBLE QUOTES" OR "SINGLE QUOTES"

In [17]:
y = "John"
x = 'John'

CASE SENSITIVE

In [18]:
a = 4
A = "Sally"
#A will not overwrite a

MULTIPLE VARIABLES

In [19]:
x, y , z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

ONE VALUE TO MULTIPLE VARIABLES

In [21]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

OUTPUT VARIABLES

In [29]:
x = "enjoying"
print ("python programming is " +  x )

python programming is enjoying

ARITHETIC OPERATIONS

In [35]:
x = 10
y = 3
#Exponentiation
x**y
#Division
x/y
#Modulo
x%y

1

ASSIGNMENT OPERATORS

In [36]:
x = 3
x*= 3
# x = x*3
print (x)

9

COMPARISON OPERATORS

In [37]:
x = 5
y = 2
x>>y

1

LOGICAL OPERATORS

In [43]:
a, b, c = 0, -1, 6
a > b and c> b

True

IDENTITY OPERATORS

In [41]:
a, b, c = 0, 1, 5
a is c

False

BITWISE OPERATORS

In [47]:
#Decimal to binart
#10 = 1010
x = 10
x>>2
print (x)

10

Application 1

In [66]:
#Application 1
#area of rectangle
length = 5
width = 2
area = x*y
print ("the area of rectangle is " , area, "cm^2" )

the area of rectangle is  10 cm^2

In [69]:
#application 1
#area of circle
radius = 8
pi = 3.14
area = pi*radius**2
print ("the area of circle is", area, "cm^2")

the area of circle is 200.96 cm^2

In [65]:
#Application 1
#area of square
side = 6
area = 6**2
print ("the area of a square is", area, "cm^2")

the area of a square is 36 cm^2

In [71]:
#application 1
#volume of cone
radius = 10
height = 12
pi = 3.14
volume = 1/3*pi*radius**2*height
print ("the volume of cone is", volume, " cm^2")

the volume of cone is 1256.0  cm^2