<a href="https://colab.research.google.com/github/HannahGraceNerio/CPE-103-OOP-1-A/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NUMBERS

In [1]:
varNum = 123
pi = 3.14159

varString = "Hello World!"
varTest = 'This is a String'

varList = ["abc", 123]

varTuple = ("abc", 123, "HELLO")

var = 3
varDict = {'First':1, '2': '2nd', 3:var}

ARITHMETIC

In [2]:
#ADDITION
a = 5 + 3

#SUBTRACTION
b = 5 - 3

#MULTIPLICATION
c = 5 * 3

#EXPONENT
d = 5 ** 3

#DIVISION
e = 5 / 3

f = 5 / 3

g = 5 // 3

print (a)
print (b)
print (c)
print (d)
print (e)
print (f)
print (g)

8
2
15
125
1.6666666666666667
1.6666666666666667
1

ARITHMETIC

In [3]:
#INCREMENT/DECREMENT
a = 5
a += 1

#DECREMENT
b = 5
b -= 1

#STRING CONCATENATION
c = 'Hello' + 'World!'

#COMPLEX EXPRESSIONS
d = 3 + 5 - 6 * 2 / 4

print (a)
print (b)
print (c)
print (d)

6
4
HelloWorld!
5.0

CONDITIONAL STATEMENTS

In [4]:
#BOOLEAN CONDITIONS
x = True
if x:
  print ("var x is True")
else:
  print ("var x is False")

#STRING CONDITIONS
x = "Hello World!"
if x == 'Hello World!':
  print ("var x is Hello World!")
else:
  print ("var x is not Hello World!")

#NUMERICAL CONDITIONS
x = 10
if x == '10':
  print ("var x is a string")
elif x == 10:
  print ("var x is a integer")
else:
  print ("var x is none of the above")

var x is True
var x is Hello World!
var x is a integer

LOOPS

In [5]:
#FOR LOOPS
for var in range (0, 5, 2):
  print (var)

#WHILE LOOPS
var = 0
while var < 5:
  print (var)
  var += 2

#NESTED LOOPS
x = 0
while x < 5:
  for y in range (0, x):
   print (y, end='')
  x += 1
  print ()

0
2
4
0
2
4

0
01
012
0123

FUNCTIONS

In [6]:
def remainder (n, m):
  while True :
    if n - m < 0:
      return n
    else :
      n = n -m
remainder (10, 4)

2

LIST

In [7]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello', pi, 'World']
print (varList[0])

print (varList[4])

varList.append ('World!')
print(varList[6])

len(varList)

print (varList[5])

varList.remove(pi)
print(varList[5])

1
Hello
World
3.14159
World

DICTIONARIES

In [8]:
var = "Hello World!"
varDict = {'first': 123, 2 : 'abc',
           '3' : var, 4 : ['lista', 'listb']}
print (varDict['first'])

print (varDict[2])

print (varDict['3'])

print (varDict[4])

print (varDict[4][1])

len (varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

LIST GENERATORS AND COMPREHENSION

In [10]:
def gen_num_up_to(n):
  num = 0
  while num < n :
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print ([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print ([var for var in varList])

varList = range (0, 5, 2)
print ([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]
[0, 2, 4]

SLICING

In [12]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (varList[:5])

print (varList[5:])

print (varList[:-2])

print (varList[-2:])

print (varList[2:-2])

print (varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]